<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <h3 style="position:absolute; margin-top:-10px; margin-left: 1400px;" th:text="${#lists.size(cartProducts)}"></h3>
    <section class="header">
        <div class="title-wrapper">
            <h1 class="sweet-title">
                <span data-text="Shop">Shop</span>
                <span data-text="Smart">Smart</span>
            </h1>
            <span class="bottom-title">Blind users also use this</span>
        </div>
    </section>
    <a href="/cartPage"><img src="/Images/CartImage.png" width="50" height="50" id="cart"></a>
    <div style="background-color: rgb(0, 0, 0);" class="user-container">
        <button id="userlogoBtn">
           <img src="/Images/userlogo.png" alt="No image" width="50" height="50" id="userlogo">
        </button>
        <div class="profile" id="profile">
            <h2 th:text="${name}"></h2>
            <hr style="width: 198px; border: 2px solid black; margin-left: 0px;">
            <form action="/logout" method="get">
            	<button style="display: block; border-radius: 30px;" type="submit" id="logout">
                	<img src="/Images/logout.png" width="195" height="50" style="margin-left: -35px; margin-top: -10px; border-radius: 30px;">
            	</button>
            </form>
        </div>
    </div>

    <div class="products" style="margin-top: -580px;">
        <table>
            <tr>
                <td class="items" style="padding-left: 50px;">
                    <div class="nft">
                        <div class='main'>
                            <img class='tokenImage' src="Images/glocery.png" alt="" />
                            <h2>Grocery</h2>
                            <p class='description'>A store that sells food and small things for the home</p>
                            <hr />
                            <form method="get" action="/allproduct">
                                <input type="hidden" value="Grocery" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Grocery" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="items">
                    <div class="nft">
                        <div class='main'>
                            <img class='tokenImage' src="Images/mobiles.jpg" alt="" />
                            <h2>Mobiles</h2>
                            <p class='description'>A portable computing device such as a smartphone or tablet</p>
                            <hr />
                            <form method="get" action="/allproduct">
                                <input type="hidden" value="Mobiles" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Mobiles" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="items">
                    <div class="nft">
                        <div class='main'>
                            <img class='tokenImage' src="Images/fashions.png" alt="" />
                            <h2>Fashions</h2>
                            <p class='description'>Style of dressing or behaving that is the most popular at a particular time.</p>
                            <hr />
                            <form method="get" action="/allproduct">
                                <input type="hidden" value="Fashions" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Fashions" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="cells">
                <td class="items" style="padding-left: 50px;">
                    <div class="nft" style="margin-top: 10px;">
                        <div class='main'>
                            <img class='tokenImage' src="Images/electronics.png" alt="" />
                            <h2>Electronics</h2>
                            <p class='description'>A gadget is a small machine or device which does something useful</p>
                            <hr />
                             <form method="get" action="/allproduct">
                                <input type="hidden" value="Electronics" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Electronics" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="items">
                    <div class="nft" style="margin-top: 10px;">
                        <div class='main'>
                            <img class='tokenImage' src="Images/furnitures.jpeg" alt="" />
                            <h2>Furnitures</h2>
                            <p class='description'>Furniture includes objects such as tables, chairs, beds, desks, etc...</p>
                            <hr />
                            <form method="get" action="/allproduct">
                                <input type="hidden" value="Furnitures" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Furnitures" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="items">
                    <div class="nft" style="margin-top: 10px;">
                        <div class='main'>
                            <img class='tokenImage' src="Images/Beauty.png" alt="" />
                            <h2>Cosmetics</h2>
                            <p class='description'>Cosmetics includes make-up, perfume, skin cream, nail polish, etc...</p>
                            <hr />
                            <form method="get" action="/allproduct">
                                <input type="hidden" value="Cosmetics" name="category">
                                <input type="hidden" th:value="${name}" name="name">
                                <div class='creator'>
                                    <button type="submit" id="Cosmetics" class="viewpage">View Products</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
    let count = 1;

function callSpeakService(text) {
    fetch('/speak', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ text: text })
    }).then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text();
    }).then(data => {
        console.log('Success:', data);
    }).catch(error => {
        console.error('Error:', error);
    });
}

function speak(text) {
    callSpeakService(text);
}

speak("Login Successfully. You are in Home page now. Product Categories like Grocery, Mobiles, Fashions, Electronics, Furnitures, Cosmetics. Which Product are you want to see?");

document.addEventListener("DOMContentLoaded", function() {
    if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = false;

        function startRecognition() {
            recognition.start();
            console.log('Voice recognition started.');
        }

        recognition.onresult = function(event) {
            const transcript = event.results[event.results.length - 1][0].transcript.trim().toLowerCase();
            console.log('Result: ', transcript);

            $.ajax({
                url: '/processSpeech',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ transcript: transcript }),
                success: function(response) {
                    if(response == "go to cart page" || response == "go to cot page" || response == " go to cottage"){
                        window.location.href = "/cartPage";
                    }
                    if (response == "logout" || response=="log out") {
                        document.getElementById("logout").click();
                    }
                   	else if(response=="Can you again tell it?"){
						speak("Yes, Ofcourse. Product Categories like Grocery, Mobiles, Fashions, Electronics, Furnitures, Cosmetics. Which Product are you want to see?");
					}
                    
					if(count==1){
						if(response=="Grocery" || response=="grocery"){
							document.getElementById("Grocery").click();
						}
						else if(response=="Mobiles" || response=="mobiles"){
							document.getElementById("Mobiles").click();
						}
						else if(response=="Fashions" || response=="fashions"){
							document.getElementById("Fashions").click();
						}
						else if(response=="Electronics" || response=="electronics"){
							document.getElementById("Electronics").click();	
						}
						else if(response=="Furnitures" || response=="furnitures"){
							document.getElementById("Furnitures").click();
						}
						else if(response=="Cosmetics" || response=="cosmetics"){
							document.getElementById("Cosmetics").click();
						}
					}
                },
                error: function(error) {
                    console.error('Error: ', error);
                }
            });
        };

        recognition.onerror = function(event) {
            console.error('Speech recognition error detected: ' + event.error);
            startRecognition(); // Restart recognition on error
        };

        recognition.onend = function() {
            console.log('Voice recognition ended. Restarting...');
            startRecognition(); // Restart recognition immediately
        };

        startRecognition(); // Initial start of recognition

        window.addEventListener('beforeunload', function() {
            if (recognition) {
                recognition.stop();
                recognition = null;
            }
        });
    } else {
        console.error('Speech recognition not supported by this browser.');
    }
});
</script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const userlogoBtn = document.getElementById('userlogoBtn');
            const profile = document.getElementById('profile');

            userlogoBtn.addEventListener('click', function (event) {
                event.stopPropagation();
                profile.style.display = profile.style.display === 'block' ? 'none' : 'block';
            });

            document.addEventListener('click', function (event) {
                if (!profile.contains(event.target) && event.target !== userlogoBtn) {
                    profile.style.display = 'none';
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
