<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="bg-img d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <header>Login Form</header>
        <form action="/authenticate" method="post">
            <div class="form-group field d-flex align-items-center">
                <span class="fa fa-user"></span>
                <input type="email" name="username" id="username" class="form-control" required placeholder="Username">
            </div>
            <div class="form-group field space d-flex align-items-center position-relative">
                <span class="fa fa-lock"></span>
                <input type="password" name="password" id="password" class="form-control pass-key" required placeholder="Password">
                <span class="show">SHOW</span>
            </div>
            <div class="pass">
                <a href="/forget">Forgot Password?</a>
            </div>
            <div class="form-group field">
                <input type="submit" id="button" class="btn btn-primary btn-block" value="LOGIN">
            </div>
        </form>
        <div class="signup">Don't have an account?
            <a href="/adduser">Signup Now</a>
        </div>
        <div class="form-group field" th:if="${error}" style="background: transparent; border: 4px solid red; margin-top: 20px;">
            <p th:text="${error}" class="error"></p>
        </div>
    </div>
</div>

<script>
    const pass_field = document.querySelector('.pass-key');
    const showBtn = document.querySelector('.show');
    let count = 1;

    showBtn.addEventListener('click', function(){
        if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
        }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
        }
    });

    function callSpeakService(text) {
        fetch('/speak', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ text: text })
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        }).then(data => {
            console.log('Success:', data);
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function speak(text) {
        callSpeakService(text);
    }

    speak("Hello, I'm shopie. I will assist you with your activity on this website. Tell your username");

    document.addEventListener("DOMContentLoaded", function() {
        if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
            const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
            const recognition = new SpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = false;

            function startRecognition() {
                recognition.start();
            }

            recognition.onstart = function() {
                console.log('Voice recognition started. Try speaking into the microphone.');
            };

            recognition.onspeechend = function() {
                console.log('Speech ended.');
                recognition.stop();
            };

            recognition.onresult = function(event) {
                const transcript = event.results[event.results.length - 1][0].transcript.trim();
                console.log('Result: ', transcript);

                $.ajax({
                    url: '/processSpeech',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ transcript: transcript }),
                    success: function(response) {

                        if(response == "go to sign up page" || response == "go to China page" || response == "go to synoppage"){
                            window.location.href = "/adduser";
                            count=0;
                        }
                        if(count == 1){
                            var email = response.split(' ').join('');
                            var email1 = email.replace("at", "@");
                            document.getElementById("username").value = email1.toLowerCase();
                            count++;
                            speak("Tell your password");
                        } else if(count == 2){
                            var pass = response.split(' ').join('');
                            document.getElementById("password").value = pass.toLowerCase();
                            count++;
                            document.getElementById("button").click();
                        }
                    },
                    error: function(error) {
                        console.error('Error: ', error);
                    }
                });
            };

            recognition.onerror = function(event) {
                console.error('Speech recognition error detected: ' + event.error);
                recognition.stop();
                startRecognition(); // Restart recognition on error
            };

            recognition.onend = function() {
                console.log('Voice recognition stopped. Restarting...');
                startRecognition(); // Restart recognition when it ends
            };

            startRecognition(); // Initial start of recognition
        } else {
            console.error('Speech recognition not supported by this browser.');
        }

        window.addEventListener('beforeunload', function() {
            if (recognition) {
                recognition.stop();
                recognition = null;
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
